<h1>nearest alt fuel station</h1>
<ul>
  <p>name: <%= @station.name %></p>
  <p>address: <%= @station.address %></p>
  <p>fuel type: <%= @station.fuel_type %></p>
  <p>hours of operation: <%= @station.hours%></p>
</ul>